<%- include('../includes/head') %>
</head>         
<body>
  <%- include('../includes/nav') %>
      <main class="p-5 product-detail mx-auto">
        <h3 class="mb-3"><%= product.name %></h3>
        <div class="img-container">
            <img src="<%= product.url %>" alt="Imagem do produto">
        </div>
        <div class="product-info text-wrap">
          <p class="mt-5 mb-4 text-secondary"><%= product.description %></p>
          <hr>
          <div class="text-center">
            <h2 class="">R$<%= product.price %></h3> 
            <form class="d-block mx-auto" method="POST" action="/admin/delete-product/<%= product.id %>">
                <button type="submit" class="btn btn-outline-danger rounded-0 me-1">Deletar</button>
                <a href="/admin/edit-product/<%= product.id %>" class="btn btn-outline-success rounded-0 ms-1">Editar</a>
            </form>
          </div>
        </div>
        
      </main>
      <%- include('../includes/footer') %>
